{% extends "core/base.html" %}


{% block content %}

<div class="clearfix">
  <a class="btn btn-info left" href="{% url 'core:calendar' %}"> Calendar </a>
	<a class="btn btn-info left" href="{{ prev_day }}"> Previous day </a>
	<a class="btn btn-info right" href="{{ next_day }}"> Next day </a>
	<a class="btn btn-info right" href="{% url 'core:event_new' %}"> New Event </a>
  <a target="_blank" class="btn btn-info left" href="{{print}}" >Print PDF</a> 

</div>
<div id="sidebar">

</div>
<div id="main" class="product-list">

<table border="0" cellpadding="0" cellspacing="0" class="calendar">

</div>
{{ day }}
{% endblock %}
